div.vert-space {
	padding-top:20px
}

div.vcenter {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items:center;
  align-items:center;
}

div.odd {
	
}

div.even {
	border: 1px solid #d8d8d8;
}